<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{% block title %}Hello{% endblock %} - Backlorg</title>
		<link rel="icon" href="static/favicon.ico" />
		<link rel="stylesheet" href="static/css/reset.css" />
		<link rel="stylesheet" href="static/css/root.css" />
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script src="static/js/jquery.templater.js"></script>
		<script src="static/js/root.js"></script>
		{% block scripts %}<!-- nsi -->{% endblock %}
	</head>
	<body>
		<div class="root">
			<header>
				<div class="left">
					<a href="./"><img src="static/images/logo.png" alt="Backlorg" border="0" /></a>
				</div>
				<div class="right">
					{% if user %}
						Hello, {{ user.name }}. <a href="javascript:void(0)" id="link-logout">Log out</a>
					{% else %}
						<a href="javascript:void(0)" id="link-login">Sign in / sign up</a>
					{% endif %}
				</div>
			</header>
			<section class="body">
				{% block body %}{% endblock %}
			</section>
			<footer class="copyright">
				&copy;2013 Alex Foran<br/>
				powered by some pretty bad shit
			</footer>
		</div>
	</body>
</html>